<main class="container flex">
    <div class="flex flex-nowrap">
      <%= render 'dashboard/sidebar'%>
      <div class="w-4/5">
        <%= render 'dashboard/navbar'%>
        <h1>Hello rails, this is the main dashboard page, you need to sign in to see that. If you see this message without signin, then there is a problem with the developer Omer :)) </h1>      </div>
    </div>
</main>
