<% provide(:title, @user.name) %>
<div class="row border-2 w-1/5 h-screen">
    <aside class="grid grid-flow-col auto-cols-max place-content-start pl-5 pt-8">
        <section>
            <h1>
                <%= gravatar_for @user %> <br><br>
                Name: <%= @user.name %><br>
                Email: <%= @user.email %>
            <h1>
        </section>
    </aside>
</div>


